*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #4d3b0a;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.slider-container {
  position: relative;
}

.slider {
  display: flex;
  width: 50rem;
  height: 35rem;
  border: 2px solid white;
  border-radius: 8px;
  /* overflow: hidden; */
}

.slider img {
  width: 50rem;
  height: 100%;
  object-fit: cover;
}

/* .slider img.active {
  transform: translateX(0);
} */

.controls {
  height: 35px;
  width: 105%;
  left: -2.5%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  display: none;
}

button {
  all: unset;
  padding: 0.5rem 1rem;
  background: hsl(12, 90%, 45%);
  color: white;
  cursor: pointer;
  border-radius: 7px;
  position: absolute;
  z-index: 2;
}

button.prev {
  left: 0;
}
button.next {
  right: 0;
}
